* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}
.main:hover {
  background-image: url(./pngtree-corporate-album-background-design-material-image_132051.jpg);
}
.p-name:hover {
  text-shadow: 1px 1px 8px black;
}
.main {
  width: 20%;
  height: 66vh;
  margin-left: 5rem;
  margin-top: 3rem;
  background-image: url(./pngtree-company-profile-background-material-image_131613.jpg);
  border-radius: 2rem;
}
img {
  width: 7rem;
  height: 7rem;
  margin-left: 5rem;
  margin-top: 3rem;
  border-radius: 10rem;
}
img:hover {
  box-shadow: 7px 5px 5px darkslategrey;
}

.p-name {
  font-size: 15px;
  text-align: center;
  margin-top: 1rem;
}

.p-name h3 {
  font-size: 20px;
  color: rgb(64, 64, 233);
}
.p-name h3:hover {
  color: black;
}
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: rgb(214, 218, 224);
  padding-top: 10px;
}


.footer:hover {
  background-color: rgb(189, 189, 230);
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
ul li:hover {
  line-height: 30px;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  display: block;
}
div a {
  text-decoration: none;
  color: white;
  font-size: 15px;

  display: inline-block;
}

div a:hover {
  color: black;
  font-weight: 800;
}
